<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg">
  <div class="titulo">
    <h3>Asignaturas</h3>
  </div>
  <div class="botones">
    <ion-button expand="full" color="warning" routerLink="/camara">INY 006D</ion-button>
    <br>
    <ion-button expand="full" color="warning" routerLink="/camara">PGY 008D</ion-button>
    <br>
    <ion-button expand="full" color="warning" routerLink="/camara">ASY 001D</ion-button>
    <br>
    <ion-button expand="full" color="warning" routerLink="/camara">TCY 008D</ion-button>
  </div>
</ion-content>
