<ion-header>
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg">
  <div class="titulo">
    <h3>Asignaturas</h3>
  </div>
  <div class="botones">
    <ion-button expand="full" color="warning" routerLink="/inicio">Generar QR</ion-button>
    <br>
    <ion-button expand="full" color="danger" routerLink="/ingreso">Salir</ion-button>
    <br>
    <ion-button color="danger" (click)="listar()">Listar Cursos</ion-button>
  </div>
</ion-content>
