<ion-header>
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg">
  <div class="titulo">
    <h3>Asignaturas</h3>
  </div>
  <div class="botones">
    <ion-button expand="full" color="warning" routerLink="/inicio">INY 006D</ion-button>
    <br>
    <ion-button expand="full" color="warning" routerLink="/inicio">INY 008D</ion-button>
    <br>
    <ion-button expand="full" color="warning" routerLink="/inicio">INY 001D</ion-button>
    <br>
    <ion-button expand="full" color="warning" routerLink="/inicio">TCY 007D</ion-button>
    <br>
    <ion-button expand="full" color="warning" routerLink="/inicio">TCY 008D</ion-button>
    <br>
    <ion-button expand="full" color="warning" routerLink="/inicio">TCY 009D</ion-button>
  </div>
</ion-content>
