<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg">
  <img class="img" src="assets/icon/logo.png">
  <div class="botones">
    <ion-button expand="full" color="warning" routerLink="/inicio-sesion-alumno">Alumno</ion-button>
    <br>
    <ion-button expand="full" color="danger" routerLink="/home">Docente</ion-button>
    <br>
    <p text-center routerLink="/registro">Crear Cuenta</p>
  </div>
</ion-content>
